<ion-header>
  <ion-toolbar>
    <ion-title>
      Jami Bot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>A <a href="https://jamibot.com" target="_blank">Jami Bot</a> Tutorial for the Ionic 4 Keyboard</p>

  <ion-button (click)="showThenHide()">Show Then Hide</ion-button>
  <ion-button (click)="show()">Show</ion-button>

  <br>

  <ion-button (click)="keyboard.hideFormAccessoryBar(true)">Hide Accessory Bar</ion-button>
  <ion-button (click)="keyboard.hideFormAccessoryBar(false)">Show Accessory Bar</ion-button>

  <br>

  <ion-input #myInput placeholder="Autocorrect Input" autocorrect="on"></ion-input>

  <br>

  <ion-input placeholder="Regular input 1" type="userame"></ion-input>

  <br>

  <ion-input placeholder="Regular input 2" type="userame"></ion-input>

  <br>

  <ion-input placeholder="Regular input 3" type="userame"></ion-input>

  <br>

  <ion-input placeholder="Regular input 4" type="userame"></ion-input>

  <br>

  <ion-input placeholder="Regular input 5" type="userame"></ion-input>

  <br>

  <ion-input placeholder="Regular input 6" type="userame"></ion-input>

  <br>

  <ion-input placeholder="Regular input 7" type="userame"></ion-input>

  <br>

  <ion-input placeholder="Regular input 8" type="userame"></ion-input>

  <br>

  <ion-input placeholder="Regular input 9" type="userame"></ion-input>

  <br>

  <ion-input placeholder="Regular input 10" type="userame"></ion-input>

</ion-content>
